.pure-menu.pure-menu-open.pure-menu-horizontal(style='padding: 5px 0 5px 0; position: fixed;')
  a.pure-menu-heading(href='/') Your Logo
  ul.first
    li.pure-menu-selected
      a(href='/home') Home
    li
      a(href='/classifieds') Classifieds
    li
      a(href='/events') Events
    li
      form.pure-form
        input.pure-input-rounded(type='text', placeholder='Search')
  ul.menu-right
    li
      a.pure-button.pure-button-primary(href='/classifieds/create') Post Ad
    li
      a(href='') Login
    li
      a(href='') Join