extends ../layout

block content
  .l-content(style='padding-top: 60px;')
    .pricing-tables.pure-g
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-free
          .pricing-table-header
            h2 Automobile
            span.pricing-table-price
              | 25
              span Listings
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-biz.pricing-table-selected
          .pricing-table-header
            h2 Household
            span.pricing-table-price
              | 37
              span Listings
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Real Estate
            span.pricing-table-price
              | 45
              span Listings
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Mobile Phones
            span.pricing-table-price
              | 32
              span Listings
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Furniture
            span.pricing-table-price
              | 45
              span Listings
    .pricing-tables.pure-g
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-free
          .pricing-table-header
            h2 Personal
            span.pricing-table-price
              | $5
              span per month
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-biz.pricing-table-selected
          .pricing-table-header
            h2 Small Business
            span.pricing-table-price
              | $25
              span per month
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Enterprise
            span.pricing-table-price
              | $45
              span per month
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Enterprise
            span.pricing-table-price
              | $45
              span per month
      a.pure-u-1.pure-u-med-1-5(href='/classifieds/listings')
        .pricing-table.pricing-table-enterprise
          .pricing-table-header
            h2 Enterprise
            span.pricing-table-price
              | $45
              span per month
